:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --link-color: rgba(255, 255, 255, 0.6);
  --accent-color: #2196f3;
}
body {
  font-family: 'Roboto', sans-serif;
  color: var(--primary-text-color);
  background: #f5f5f5;
  letter-spacing: 0.03em;
}

a {
  text-decoration-line: none;
  font-style: normal;
  color: none;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
}

.header-contacts .link,
.header-contacts .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.logo {
  font-family: 'Raleway';
  font-size: 26px;
  line-height: 1.2;

  color: #000000;
}

.logo-decor {
  color: var(--accent-color);
}

.nav .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.address,
.link {
  font-size: 14px;
  line-height: 1.71;
  color: var(--link-color);
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.hero {
  background-color: #2f303a;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
  width: 700px;
}

.hero-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  color: #ffffff;
  border-color: var(--accent-color);
  background-color: var(--accent-color);
}

.benefits-list .subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;

  color: var(--primary-text-color);
}

.benefits-list .text {
  font-size: 14px;
  line-height: 1.71;

  color: var(--secondary-text-color);
}

.hidden-title {
  color: transparent;
  font-size: 0%;
}

.team-person .subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  color: var(--primary-text-color);
}

.team-person .text {
  font-size: 14px;
  line-height: 1.71;

  color: var(--secondary-text-color);
}

.our-team {
  background: #f5f4fa;
}

.footer {
  background-color: #2f303a;
  color: #ffffff;
}

.footer-logo {
  font-family: 'Raleway';
  font-size: 26px;
  line-height: 1.2;
  color: #ffffff;
}

.address-link {
  font-size: 14px;
  line-height: 1.71;

  color: #ffffff;
}

.btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  color: var(--primary-text-color);
  background: #f5f4fa;
  border-radius: 4px;
}

.list-btn .btn:hover,
.list-btn .btn:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}

.work .title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--primary-text-color);
}

.work .text {
  font-size: 16px;
  line-height: 1.88;

  color: var(--secondary-text-color);
}
