:root {
  --font-family: 'Roboto', sans-serif;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --bright-text: #ffffff;
  --dark-text: #000000;
  --link-color: rgba(255, 255, 255, 0.6);
  --accent-color: #2196f3;
  --background-color-one: #ffffff;
  --background-color-two: #f5f4fa;
  --background-color-footer: #2f303a;
}
body {
  font-family: var(--font-family);
  font-style: normal;
  color: var(--primary-text-color);
  background-color: var(--background-color-one);
  letter-spacing: 0.03em;
  font-size: 14px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  font-family: inherit;
  cursor: pointer;
  border: none;
}

.header-contacts .link,
.header-contacts .link {
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.logo {
  font-family: 'Raleway';
  font-size: 26px;
  line-height: 1.2;

  color: var(--dark-text);
}

.logo-decor {
  color: var(--accent-color);
}

.nav .link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.current {
  color: var(--accent-color);
}

.address .link {
  line-height: 1.71;
  color: var(--link-color);
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.hero {
  background-color: var(--background-color-footer);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--bright-text);
  width: 696px;
}

.hero-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  color: var(--bright-text);
  border-color: var(--accent-color);
  background-color: var(--accent-color);
}

.benefits-list .subtitle {
  font-weight: 700;
  line-height: 1.14;

  color: var(--primary-text-color);
}

.benefits-list .text {
  line-height: 1.71;

  color: var(--secondary-text-color);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.team-person .subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  color: var(--primary-text-color);
}

.team-person .text {
  line-height: 1.71;

  color: var(--secondary-text-color);
}

.our-team {
  background: var(--background-color-two);
}

.footer {
  background-color: var(--background-color-footer);
  color: var(--bright-text);
}

.footer-logo {
  font-family: 'Raleway';
  font-size: 26px;
  line-height: 1.2;
  color: var(--bright-text);
}

.address {
  font-style: normal;
}
.address-link {
  line-height: 1.71;

  color: var(--bright-text);
}

.btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  color: var(--primary-text-color);
  background: var(--background-color-two);
  border-radius: 4px;
}

.list-btn .btn:hover,
.list-btn .btn:focus {
  background-color: var(--accent-color);
  color: var(--bright-text);
}

.work .title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--primary-text-color);
}

.work .text {
  font-size: 16px;
  line-height: 1.88;

  color: var(--secondary-text-color);
}
